<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
</head>
<body ng-app="TablesApp" ng-controller="TablesCtrl">
    <div th:replace="Fragments/Template :: logo"></div>
    <div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
    <div th:replace="Fragments/TemplateDashboard :: navSubBarAssessmentDashboard"></div>
    <div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div>
    <br/>
    <div class="container" id="tableCurrent" ng-init="getStratInd('../DetailedStrategicIndicators/CurrentTable')">
        <br/>
        <span><b>Search:</b></span> <input ng-model="f"></input>
        <br/>
        <br/>
        <table class="table table-hover">
            <thead>
            <tr>
                <th ng-click="sortBy('date')">Date
                    <span ng-show="sortType == 'date' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'date' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('name')">Strategic Indicator
                    <span ng-show="sortType == 'name' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'name' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('description')">Description
                    <span ng-show="sortType == 'description' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'description' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('value_description')">Current Value
                    <span ng-show="sortType == 'value_description' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'value_description' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('catergories_description')">Categories
                    <span ng-show="sortType == 'categories_description' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'categories_description' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('warning')">Warning
                    <span ng-show="sortType == 'warning' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'warning' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in data | filter:f | orderBy:sortType:sortReverse">
                <td id="date">{{d.date}}</td>
                <td id="name" ng-click="getURL(d.id, d.name, null, '../DetailedStrategicIndicators/CurrentTable', false)">{{d.name}}</td>
                <td id="description">{{d.description}}</td>
                <td id="value" ng-class="{'color-red': (d.lowerThreshold > d.value.first), 'color-green': (d.value.first > d.upperThreshold)}">{{d.value_description}}</td>
                <td id="categories">{{d.categories_description}}</td>
                <td style="white-space: pre;" id="warning">{{d.warning}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
</html>