<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
    <th:block th:replace="Fragments/TemplateDashboard :: HistoricView"></th:block>
</head>
<body ng-app="TablesApp" ng-controller="TablesCtrl">
    <div th:replace="Fragments/Template :: logo"></div>
    <div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
    <div th:replace="Fragments/TemplateDashboard :: navSubBarAssessmentDashboard"></div>
    <div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div>
    <br/>
    <br/>
    <h1 id="title" align="center"></h1>
    <p th:replace="Fragments/TemplateDashboard :: navLinkQF"></p>
    <div class="pull-right" style="width: 100%; padding-right: 1em; padding-left: 1em;">
        <form class="form-inline well" style="float: right">
            <div class="form-group">
                <label class="control-label">From: </label>
                <input id="datepickerFrom" width="250" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label"> To: </label>
                <input id="datepickerTo" width="250" class="form-control"/>
            </div>
            <button type="button" class="btn btn-default" ng-click="getFactorQualityHistoric()" ng-init="getFactorQualityHistoric()">Apply</button>
            <div class="form-group dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Interval <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a onclick="thisWeek()" ng-click="getFactorQualityHistoric()" href="#">This week</a></li>
                    <li><a onclick="last7Days()" ng-click="getFactorQualityHistoric()" href="#">Last 7 days</a></li>
                    <li><a onclick="last14Days()" ng-click="getFactorQualityHistoric()" href="#">Last 14 days</a></li>
                    <li><a onclick="thisMonth()" ng-click="getFactorQualityHistoric()" href="#">This month</a></li>
                    <li><a onclick="thisYear()" ng-click="getFactorQualityHistoric()" href="#">This year</a></li>
                </ul>
            </div>
        </form>
    </div>
    <br/>
    <div class="container" id="tableCurrent">
        <span><b>Search:</b></span> <input ng-model="f"></input>
        <br/>
        <br/>
        <table class="table table-hover">
            <thead>
            <tr style="white-space: nowrap">
                <th ng-click="sortBy('date')">Date
                    <span ng-show="sortType == 'date' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'date' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('factorName')">Factor
                    <span ng-show="sortType == 'factorName' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'factorName' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('metricName')">Metric
                    <span ng-show="sortType == 'metricName' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'metricName' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('description')">Description
                    <span ng-show="sortType == 'description' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'description' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('value')">Value
                    <span ng-show="sortType == 'value' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'value' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
                <th ng-click="sortBy('rationale')">Rationale
                    <span ng-show="sortType == 'rationale' &amp;&amp; sortReverse" class="caret"></span>
                    <span ng-show="sortType == 'rationale' &amp;&amp; !sortReverse" class="dropup">
                        <span class="caret"></span>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="d in data | filter:f | orderBy:sortType:sortReverse"></tr>
                <td>{{d.date}}</td>
                <td ng-click="getURL(d.id, d.factorName, fact, '../Metrics/HistoricTable', true)">{{d.factorName}}</td>
                <td>{{d.metricName}}</td>
                <td>{{d.description}}</td>
                <td>{{d.value}}</td>
                <td>{{d.rationale}}</td>
            <tr ng-repeat-end="d in data"></tr>
            </tbody>
        </table>
    </div>
    <br/>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsHistoric"></th:block>
</html>