html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.topnav {
    background-color: #0579A8;
    overflow: visible;
    vertical-align: middle;
    height: 58px;
}

.subnav {
    background-color: #61B8E5;
    overflow: hidden;
    vertical-align: middle;
}

.dropdown-menu a{
    float: none !important;
    text-align: left !important;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
}

.subnav a {
    float: left;
    display: block;
    color: #3F403F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #eeeeee;
    color: black;
}

.subnav a:hover {
    background-color: #eeeeee;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #eeeeee;
    color: black;
}

.subnav a.active {
    background-color: #eeeeee;
    color: black;
}

.panel-body {
    padding: 5px 5px 5px 5px;
}

.col-xs-3 div {
    margin-left: 20px;
    margin-right: 20px;
}

a.simenu {
    margin-left: 30px;
}

a.qfmenu {
    margin-right: 30px;
}

img.icons {
    height: 22px;
}

img.container {
    width: 100px;
}

@media screen and (min-width: 730px) and (max-width: 970px) {
    h2.title{ font-size: 20px }
    img.container { width: 60px }
    img.icons{ height: 7px}
    div.panel-body { font-size: 12px }
    panel-body {font-size: 12px}
    a.simenu{ margin-left: 15px; font-size: 12px }
    a.qfmenu{ margin-right: 15px; font-size: 12px }
    a.dsimenu{ font-size: 12px }
}

@media screen and (max-width: 729px) {
    h2.title{ font-size: 10px }
    img.container { width: 50px }
    img.icons{ height: 5px}
    div.panel-body { font-size: 8px }
    panel-body {font-size: 8px}
    a.simenu{ margin-left: 10px; font-size: 8px }
    a.qfmenu{ margin-right: 10px; font-size: 8px }
    a.dsimenu{ font-size: 8px }
}

svg.chart {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

}
 .axis { font: 14px sans-serif; }

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.ChartButton {
    border-color: transparent;
    background-color: transparent;
    width: 250px;
    height: 250px;
}

canvas {
    margin-left: 1em;
    margin-right: 1em;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.color-red-link:link {
    color: red;
}

.color-red-link:hover {
    color: #bd0000;
}

.input-group-addon-qr {
    min-width: 115px;
    text-align: left;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

[ng-click] {
    cursor: pointer;
}

.post-it {
    list-style: none;
    overflow: hidden;
    padding: 1em;
    background: #feff9a;
    display: block;
    width: 10em;
    float: right;
    text-align: left;
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.milestonesTable{
    width: 100%;
    border: 1px solid gray;
}

.milestoneItem > th, .milestoneItem > td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 5px;
}

.phasesTable{
    width: 100%;
    border: 1px solid gray;
}

.phaseItem > th, .phaseItem > td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 5px;
}